h1 {
    color: rgb(142, 30, 142);
    text-align: center; font-family: Helvetica, sans-serif; font-size: 45px;background-color: rgba(100, 149, 212, 0.514);border: dotted;
  }
  h4 {
    color: blueviolet;
    text-align: left; font-family: Helvetica, sans-serif
  }
  h2 {
    color: rgb(98, 98, 215);
    text-align: left; font-family: Helvetica, sans-serif
  }
  body {
    background-color: rgba(202, 229, 238, 0.947);margin: 135px;border: 115px;padding: 300px;padding-top: 1px;
  }
  h3 {
    color: rgb(197, 65, 104);
    font-family: Helvetica, sans-serif;
  }
  .secciones {
    color: rgb(33, 4, 29);
    font-family: Helvetica, sans-serif; font-size: small; background-color: rgba(210, 206, 245, 0.674);border: solid;margin: 8px;
  }
  #Idiomas{
    background-size: contain;content:icon;border: 300px;  }
  footer {
    color: blueviolet;
    text-align: right; font-family: Helvetica, sans-serif
  }
  .main h2 {
    color: rgb(98, 98, 215);
    text-align: center; font-family: Helvetica, sans-serif; background-color: rgb(87, 14, 121);
  }
  .profession h2{
    color:rgb(117, 96, 137);
    font-family: Helvetica, sans-serif; font-size: 30px; background-color:  rgb(195, 157, 242);text-align: center; border: solid;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  main {
    display: flex;
  }